.Center {
  position: absolute;
}
h1 {
  margin-left: 120px;
  text-align: left;
  font-size: 70px;
  color: black;
  font-size: 150px;
  top: 50;
}
/* p {
  color: white;
  left: 35%;
  right: 65%;
  text-align: left;
}

.navabar a {
  color: white;
  gap: 2px;
} */

/* .navabar {

  float: left;
  text-align: right;
  color: black;
  text-decoration-color: white;
  padding: 3px px 20px 30px;
  font-size: 20px;
  
  padding-left: 1000px;
  padding-bottom: 1200px;
  width: 750px;
  margin: 0 auto;
}
h4 {
  padding-right: 10%;
}
.container {
  position: relative;
  margin-left: 25%;
} */
/* 
/* .text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: white;
  padding-left: 20px;
  padding-right: 1250px;
  padding-bottom: 820px; */
*/
/* .nbr-block {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: white;
  padding-left: 20px;
  padding-right: 1250px;
  padding-bottom: 720px;
} */
.btn {
  position: absolute;
}
.Fashion-image {
  position: relative;
  width: 80%;
}
.description {
  position: absolute;
}
.btn button {
  position: absolute;
}
/* .container {
  margin-left: 25%;
}
.media {
  position: relative;
}
/* .img-description {
  position: relative;
} */
